<template>
  <div>
    <v-row no-gutters justify="center">
      <v-col cols="5">
        <img src="~assets/img/store/login-image.png">
      </v-col>
      <v-col cols="4" offset="1">
        <v-card class="body-2 py-3 px-5">
          <v-form ref="loginForm">
            <v-row no-gutters>
              <v-col cols="12">
                <span class="subtitle-1 font-weight-bold text-uppercase">Store Login</span>
                <v-divider class="mt-1"></v-divider>
              </v-col>

              <v-col cols="12" class="mt-3" v-if="serverErrors.length !== 0">
                <v-alert
                  dark
                  dense
                  color="error"
                  class="caption mb-1"
                >
                  <div v-for="(error, idx) in serverErrors" :key="idx">
                    {{ error }}
                  </div>
                </v-alert>
              </v-col>

              <v-col cols="12" class="mt-4">
                <v-text-field
                  dense
                  outlined
                  type="email"
                  label="Store Email"
                  class="text_field_design"
                  prepend-inner-icon="mdi-account"
                  v-model="userCredential.username"
                  :rules="emailRule">
                </v-text-field>
              </v-col>

              <v-col cols="12" class="mt-1">
                <v-text-field
                  dense
                  outlined
                  type="password"
                  label="Password"
                  class="text_field_design"
                  prepend-inner-icon="mdi-key"
                  v-model="userCredential.password"
                  :rules="passwordRule"
                  @keypress.enter="loginUser">
                </v-text-field>
              </v-col>

              <v-col cols="12">
                <v-btn
                  block
                  depressed
                  color="primary"
                  :loading="btnLoadingState"
                  @click="loginUser"
                >
                  Login
                </v-btn>
              </v-col>

              <v-col cols="12" class="text-center mt-8">
                <nuxt-link
                  :to="{
                      name: 'store-authentication-forget-password',
                    }"
                >
                  Forget Password?
                </nuxt-link>
              </v-col>

            </v-row>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {

  name: "store-authentication-login",

  data() {
    return {
      userCredential: {
        username: null,
        password: null,
      },
      emailRule: [
        v => !!v || 'Email is required.'
      ],
      passwordRule: [
        v => !!v || 'Password is required.',
      ],
      serverErrors: [],
      showPassword: false,
      btnLoadingState: false,
    }
  },

  methods: {

    loginUser() {

      this.$store.dispatch("login/login", this.userCredential).then(response => {

        console.log(response.data, 'response');

      }).catch(e => {

        console.log(e.response.data, 'error');

      });

      console.log('button clicked');

    }

  }

}
</script>

<style scoped>

</style>
