<template>
    <v-app>
      <v-main>
        <v-container class="pa-0" fluid>
          <Nuxt></Nuxt>
        </v-container>
      </v-main>
    </v-app>
</template>

<script>
export default {

}
</script>
